version: '3.4'

services:
  vc-db:
    image: microsoft/mssql-server-windows-express
    ports:
      - "${DOCKER_SQL_PORT:-1433}:1433"
    environment: 
      - ACCEPT_EULA=Y
      - sa_password=v!rto_Labs!
  customerreviewsmodule.web:
    image: ${DOCKER_REGISTRY-}customerreviewsmodule.web
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    environment:
      - VIRTO_CONN_STR_VIRTOCOMMERCE=Data Source=vc-db;Initial Catalog=VirtoCommerce2;Persist Security Info=True;User ID=sa;Password=v!rto_Labs!;MultipleActiveResultSets=True;Connect Timeout=30;
      - VIRTO_CONN_STR_AssetsConnectionString=provider=LocalStorage;rootPath=~/App_Data/Assets;publicUrl=http://localhost/assets
      - 'VIRTO_APP_SETTING_VirtoCommerce:EnableBundlesOptimizations=false'
      - 'VIRTO_APP_SETTING_VirtoCommerce:Security:SuppressForcingCredentialsChange=true'
      - 'VIRTO_APP_SETTING_VirtoCommerce:AutoInstallModuleBundles='
    depends_on:
      - vc-db
    volumes:
      - cms-content-volume:c:\vc-platform\App_Data\cms-content
#    command:
#      - powershell.exe -executionpolicy bypass c:\ps\ImportCatalog.ps1
volumes:
  cms-content-volume:
